@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-800 {
    font-weight: 800;
}

.c-navbar {
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 0.5rem 3rem;
}

.navbar-dark .navbar-brand {
    font-family: "Lobster", sans-serif;
    font-size: 1.9rem;
    padding-top: 0.05rem;
    height: 45px;
}

.dropdown-menu {
    border-radius: 0.5;
    background-color: #212529;
    margin: 0.6rem 0 0;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background: linear-gradient(270deg, #b20000 -75%, #ff0000 90%);
    color: white;
}

.main {
    min-height: 100vh;
    background-image: url(../images/pexels-steve-johnson-10194139.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.di-main {
    display: flex;
    justify-content: center;
}

.dii-main {
    text-align: center;
    width: 60%;
    padding: 10px;
    margin-bottom: 60px;
}

h2 {
    font-size: 7rem;
    margin-bottom: 2rem;
    font-family: "Lobster", sans-serif;
    color: white;
}

p {
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #0a0b0c;
    font-weight: 800
}

.diii-main {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

h3 {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 4px solid #00000026;
    border-radius: 20px;
    padding: 25px 20px;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
}

.sp-main {
    color: rgba(0, 0, 0, 0.9);
    font-family: "Lobster", sans-serif;
    font-size: 27px;
    font-weight: 500;
}

.button-main {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
}

.button-main a {
    text-decoration: none;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    border-radius: 15px;
    width: 110px;
    height: 48px;
    font-size: 1.3rem;
    font-family: "Lobster", sans-serif;
}

.button1 {
    background: linear-gradient(345deg, #FFBF00 -80%, #2c8cf4 70%);
    transition: 0.5s ease;
}
  
.button1:hover {
    color: #0a0b0c;
    font-size: 1.283rem;
}

.button2 {
    background: linear-gradient(345deg, #2d2db0 -80%, #FFBF00 70%);
    transition: 0.5s ease;
}
  
.button2:hover {
    color: #0a0b0c;
    font-size: 1.283rem;
}

.falestine-main {
    position: absolute;
    left: 0;
    width: 70px;
    height: 250px;
    background: linear-gradient(270deg, #b20000 -75%, #ff0000 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

.falestine-main a {
    transform: rotate(270deg);
    font-size: 2rem;
    text-decoration: overline;
    color: white;
    padding: 10% 70%;
}

.dropdown-i {
    display: flex;
}

.dropdown-m-i {
    border-left: 3px solid #3f474f;
    margin-left: 10px;
}