@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c-navbar {
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 0.5rem 3rem;
}

.navbar-dark .navbar-brand {
    font-family: "Lobster", sans-serif;
    font-size: 1.9rem;
    padding-top: 0.05rem;
    height: 45px;
}

.main {
    min-height: 100vh;
    background-image: url(../images/pexels-steve-johnson-10194139.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 50px;
}

.d-web-store {
    display: flex;
    padding-left: 30px;
}

.d-web-store a {
    text-decoration: none;
    color: #3722a3;
}

.web-store {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    margin-right: 15px;
    height: 57px;
}

.web-store-hov:hover {
    background: linear-gradient(315deg, #98a3bf -65%, #3722a3 70%);
    color: white;
}

.web-store img {
    width: 33px;
    margin-right: 5px;
}

.web-store h2 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;

    /* background-image: linear-gradient(315deg, #98a3bf -65%, #3722a3 70%);
    -webkit-background-clip: text;
    color: transparent; */
}

.a-ct {
    background: linear-gradient(315deg, #98a3bf -65%, #3722a3 70%);
}

.a-ct h2 {
    color: white;
}

.cr {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

.cr-i {
    margin: 0 20px 70px;
}

.cr-i h3 {
    font-size: 30px;
    font-weight: bold;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 20%);
    text-shadow: 2.5px 2.5px 4px #FF0000;
    color: white;
    backdrop-filter: blur(5px);
}

.cr-ii {
    width: 500px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    backdrop-filter: blur(5px);
}

.cr-ii a {
    width: 100%;
    background-color: white;
    color: black;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
    transition: 0.2s ease;
}

.cr-ii a:hover {
    box-shadow: 0px 0px 5px 2px white;
    color: #601cfc;
}


.cr-ii a img {
    width: 50px;
    margin: 0 15px;
    border-radius: 15px;
}

.cr-ii a h4 {
    font-size: 20px;
    margin: 0;
    font-family: cursive;
}